{% extends "NutrividaLojaBundle:Loja:layout.html.twig" %}
{% block title %}Nutrivida Tramandaí RS{% endblock %}

{% block content %}
        
    <div class="banner">
        <div class="full-container">
            <div class="slider-content">
                <ul id="pager2" class="container">
                </ul>
                <span class="prevControl sliderControl"> <i class="fa fa-angle-left fa-3x "></i></span> <span class="nextControl sliderControl"> <i class="fa fa-angle-right fa-3x "></i></span>
                <div class="slider slider-v1" 
                     data-cycle-swipe=true
                     data-cycle-prev=".prevControl"
                     data-cycle-next=".nextControl" data-cycle-loader="wait">
                    {% for banner in banners %}
                    <div class="slider-item slider-item-img{{ loop.index }}"> <img src="{% path banner.media, 'banner' %}" class="img-responsive parallaximg sliderImg" alt="img"> </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="container main-container"> 

        <div class="row featuredPostContainer globalPadding style2">
            <h3 class="section-title style2 text-center"><span>PRODUTOS DETAQUES</span></h3>
            <div id="productslider" class="owl-carousel owl-theme">
                {% for categoria in categorias %}
                    {% for produto in categoria.getProdutos %}
                    <div class="item">
                        <div class="product">
                            <div class="image">  
                                <div class="quickview">
                                </div>
                                <a href="{{ path('_loja_produto', {slugCategoria: produto.getCategoria.getSlug, slug: produto.getSlug}) }}">
                                    <img src="{% path produto.getImagens.get(0).media, 'produto' %}" alt="img" class="img-responsive">
                                </a>
                            </div>
                            <div class="description">
                                <h4><a href="{{ path('_loja_produto', {slugCategoria: produto.getCategoria.getSlug, slug: produto.getSlug}) }}">SNACK TEE </a></h4>
                                <p>{{ produto.getNome }}</p>
                            </div>
                            <div class="price"> <span>R$ {{ produto.getValor|number_format(2, ',', '.') }}</span> </div>
                            <div class="action-control">
                                <a href="javascript:adicionarCarrinho({{ produto.getId }})" class="btn btn-primary">
                                    <span class="add2cart">
                                        <i class="glyphicon glyphicon-shopping-cart"></i> 
                                        Add to cart 
                                    </span> 
                                </a> </div>
                        </div>
                    </div>
                    {% endfor %}
                {% endfor %}
            </div>
            <!--/.productslider--> 

        </div>
        <!--/.featuredPostContainer--> 
    </div>
    <div class="parallax-section parallax-image-1">
      <div class="container">
        <div class="row ">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="parallax-content clearfix">
              <h1 class="parallaxPrce"> COMPRAS ACIMA DE R$300,00 </h1>
              <h2 class="uppercase">frete gratuito para todo os Estado do RS</h2>
              <div style="clear:both"></div>
              <a class="btn btn-discover "> <i class="fa fa-shopping-cart"></i> COMPRAR </a> </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container main-container"> 
        <div class="morePost row featuredPostContainer style2 globalPaddingTop " >
            <h3 class="section-title style2 text-center"><span>PRODUTOS COM DESCONTOS</span></h3>
            <div class="container">
                <div class="row xsResponse">
                    {% for desconto in descontos %}
                    <div class="item col-lg-3 col-md-3 col-sm-4 col-xs-6">
                        <div class="product">
                            <div class="image">  
                                <div class="quickview">
                                </div>
                                <a href="{{ path('_loja_produto', {slugCategoria: desconto.getCategoria.getSlug, slug: desconto.getSlug}) }}">
                                    <img src="{% path desconto.getImagens.get(0).media, 'produto' %}" alt="img" class="img-responsive">
                                </a>
                            </div>
                            <div class="description">
                                <h4>
                                    <a href="{{ path('_loja_produto', {slugCategoria: desconto.getCategoria.getSlug, slug: desconto.getSlug}) }}">Cranberry</a>
                                </h4>
                                <p>{{ desconto.getNome }} </p>
                            </div>
                            <div class="price">
                                <span>R$ {{ desconto.getValor|number_format(2, ',', '.') }}</span> 
                                <span class="old-price">R$ {{ (desconto.getValor*1.2)|number_format(2, ',', '.') }}</span> 
                            </div>
                            <div class="action-control">
                                <a href="javascript:adicionarCarrinho({{ desconto.getId }})" class="btn btn-primary">
                                    <span class="add2cart">
                                        <i class="glyphicon glyphicon-shopping-cart"> </i> Adicionar 
                                    </span> 
                                </a> 
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <div class="row">
                    <div class="load-more-block text-center"> <a class="btn btn-thin" href="#"> <i class="fa fa-plus-sign">+</i> Ver todos produtos</a> </div>
                </div>
            </div>
            <!--/.container--> 
        </div>
        <!--/.featuredPostContainer-->

        <hr class="no-margin-top">
        <div class="width100 section-block ">
            <div class="row featureImg">
                <div class="col-md-3 col-sm-3 col-xs-6"> <a href="category.html"><img src="{{ asset('bundles/nutrividaloja/loja/images/site/new-collection-1.jpg') }}" class="img-responsive" alt="img" ></a> </div>
                <div class="col-md-3 col-sm-3 col-xs-6"> <a href="category.html"><img src="{{ asset('bundles/nutrividaloja/loja/images/site/new-collection-2.jpg') }}" class="img-responsive" alt="img" ></a> </div>
                <div class="col-md-3 col-sm-3 col-xs-6"> <a href="category.html"><img src="{{ asset('bundles/nutrividaloja/loja/images/site/new-collection-1.jpg') }}" class="img-responsive" alt="img" ></a> </div>
                <div class="col-md-3 col-sm-3 col-xs-6"> <a href="category.html"><img src="{{ asset('bundles/nutrividaloja/loja/images/site/new-collection-2.jpg') }}" class="img-responsive" alt="img"></a> </div>
            </div>
        </div>
    </div>

                
        
        
{#<div class="column_center">
  <div class="container">
	<div class="search">
	  <div class="stay">Assine nossa newsletter</div>
	  <div class="stay_right">
              <input type="text" id="news" value="E-mail" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your email address';}">
                <input onclick="enviarNews()" type="submit" value="">
	  </div>
	  <div class="clearfix"> </div>
	</div>
	<ul class="social">
	  <li class="find">Encontre-nos</li>
	  <li><a href="#"> <i class="fb"> </i> </a></li>
	  <li><a href="#"> <i class="tw"> </i> </a></li>
	  <li><a href="#"> <i class="dribble"> </i></a></li>
	  <div class="clearfix"> </div>
	</ul>
	<div class="clearfix"> </div>
  </div>
</div>
#}


{% endblock %}

