<div class="navbar navbar-tshop navbar-fixed-top megamenu" role="navigation">
    <div class="navbar-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6">
                    <div class="pull-left ">
                        <ul class="userMenu ">
                            <li class="phone-number"> <a href="callto:+555136614734"> <span> <i class="glyphicon glyphicon-phone-alt "></i></span> <span class="hidden-xs" style="margin-left:5px"> +55 51 3661.4734 </span> </a> </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6 no-margin no-padding">
                    <div class="pull-right">
                        <ul class="userMenu">
                            <li>
                                <a href="{{ path("_loja_cliente") }}">
                                    <span class="hidden-xs">minha conta</span> <i class="glyphicon glyphicon-user hide visible-xs"></i>
                                </a>
                            </li>
                            <li>
                                <a href="{{ path("_loja_cliente") }}" >
                                    <span class="hidden-xs">login</span> <i class="glyphicon glyphicon-log-in hide visible-xs"></i>
                                </a>
                            </li>
                            <li class="hidden-xs">
                                <a href="{{ path("_loja_cadastro_cliente") }}" >criar conta</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only"> Toggle navigation </span> <span class="icon-bar"> </span> <span class="icon-bar"> </span> <span class="icon-bar"> </span> </button>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-cart"> <i class="fa fa-shopping-cart colorWhite"> </i> <span class="cartRespons colorWhite"> Cart ($210.00) </span> </button>
            <a href="{{ path('_loja_index') }}" class="navbar-brand" title="NutriVida Tramandaí RS">
                <img src="{{ asset('bundles/nutrividaloja/loja/images/logo.png') }}" alt="NutriVida Tramandaí RS" title="NutriVida Tramandaí RS" height="52" />
            </a>

            <div class="search-box pull-right hidden-lg hidden-md hidden-sm">
                <div class="input-group">
                    <button class="btn btn-nobg getFullSearch" type="button"> <i class="fa fa-search"> </i> </button>
                </div>
            </div>
        </div>

        <div class="navbar-cart collapse">
            <div class="cartMenu col-lg-4 col-xs-12 col-md-4 ">
                {{ render(controller('NutrividaLojaBundle:Loja/Carrinho:carrinhoTop')) }}
            </div>
        </div>

        <div class="navbar-collapse collapse">
            {{ render(controller('NutrividaLojaBundle:Loja/Default:renderMenu')) }}
            
            <div class="nav navbar-nav navbar-right hidden-xs">
                <div class="dropdown cartMenu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-shopping-cart"> </i>
                        <span class="cartRespons"> &nbsp; {{ render(controller('NutrividaLojaBundle:Loja/Carrinho:carrinhoValor')) }} </span>
                        <b class="caret"> </b>
                    </a>

                    <div class="dropdown-menu col-lg-4 col-xs-12 col-md-4 ">
                        {{ render(controller('NutrividaLojaBundle:Loja/Carrinho:carrinhoTop')) }}
                    </div>
                </div>

                <div class="search-box">
                    <div class="input-group">
                        <button class="btn btn-nobg getFullSearch" type="button"> <i class="fa fa-search"> </i> </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="search-full text-right"> <a class="pull-right search-close"> <i class=" fa fa-times-circle"> </i> </a>
        <div class="searchInputBox pull-right">
            <input type="search" data-searchurl="search?=" name="q" placeholder="digite o produto que procuras" class="search-input">
            <button class="btn-nobg search-btn" type="submit"> <i class="fa fa-search"> </i> </button>
        </div>
    </div>
</div>