<a class="toggleMenu" href="#">Menu</a>
<ul class="nav">
    <li><a href="{{ path('_loja_index') }}">Home</a></li>
    <li><a href="#">Produtos</a>
        <ul>
            {% for categoria in categorias %}
            <li><a href="{{ path('_loja_categoria', {slug: categoria.getSlug}) }}">{{ categoria.getNome }}</a></li>
            {% endfor %}
        </ul>
    </li>
    <li><a href="{{ path('_loja_empresa') }}">Sobre a NutriVida</a></li>
    <li><a href="{{ path('_loja_contato') }}">Contato</a></li>
</ul>
<script src="{{ asset('bundles/nutrividaloja/loja/js/nav.js') }}"></script>

