{% extends "NutrividaLojaBundle:Loja:layout.html.twig" %}
{% block title %}Nutrivida Tramandaí RS{% endblock %}

{% block head %}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<script src="{{ asset('bundles/nutrividaloja/admin/js/jquery.maskedinput.min.js') }}"></script>
<script>
    jQuery(document).ready(function(){
        jQuery("#cep_frete").mask(
            "99999-999",
            {completed:function(){
                var url = "{{ path("_loja_carrinho_calcula_frete") }}/"+this.val();
                jQuery.post(url, {}, setFrete, "json")
            }}
        ).bind({
                paste : function(){
                    setTimeout(function () {
                        var cep = jQuery("#cep_frete").val();
                        var url = "{{ path("_loja_carrinho_calcula_frete") }}/"+cep;
                        jQuery.post(url, {}, setFrete, "json")
                    }, 500);
                }
        });
        
    });

    function setFrete(result) {
        var html = "";
        var data;
        var frete;
        var table = jQuery("#calculoFrete tbody");
        for (var key in result) {
            data = result[key];
            frete = data.CalcPrecoPrazoResult.Servicos.cServico;
            if (frete.Erro != "0") {
                html += "<tr>";
                if ( frete.Codigo == "{{ constant('Nutrivida\\LojaBundle\\Controller\\Loja\\CarrinhoController::sedex')  }}" ) {
                    html += "<td>";
                    html += "Sedex";
                    html += "</td>";
                } else if (frete.Codigo == "{{ constant('Nutrivida\\LojaBundle\\Controller\\Loja\\CarrinhoController::pac')  }}" ) {
                    html += "<td>";
                    html += "PAC";
                    html += "</td>";
                }
                html += "<td>";
                html += frete.MsgErro;
                html += "</td>";
                html += "</tr>";
            } else {
                html += "<tr>";
                if ( frete.Codigo == "{{ constant('Nutrivida\\LojaBundle\\Controller\\Loja\\CarrinhoController::sedex')  }}" ) {
                    html += "<td><input value=\""+frete.Codigo+"|"+frete.Valor.toString()+"\" type=\"radio\" name=\"opcaoFrete\" id=\"opcao1\" /></td>";
                    html += "<td><label for=\"opcao1\">Sedex</label></td>";
                } else if (frete.Codigo == "{{ constant('Nutrivida\\LojaBundle\\Controller\\Loja\\CarrinhoController::pac')  }}" ) {
                    html += "<td><input value=\""+frete.Codigo+"|"+frete.Valor.toString()+"\" type=\"radio\" name=\"opcaoFrete\" id=\"opcao2\" /></td>";
                    html += "<td><label for=\"opcao2\">PAC</label></td>";
                }
                html += "<td>";
                html += "R$ "+frete.Valor.toString();
                html += "</td>";
                html += "</tr>";
            }            
        }
        table.html(html);
        
        jQuery('input[name=opcaoFrete]').change(function() {
            var res = this.value.split("|");
            var valor = moeda2float(res[1]);
            valor = valor + parseFloat(jQuery("#valorTotalPedido").val());
            jQuery("#labelValorTotalPedido").text("Total: R$ "+float2moeda(valor));
        });
    }

    function alterarQuantidade(id, qtd) {
        jQuery.get("{{ path("_loja_carrinho_alterar_quantidade") }}/"+id+"/"+qtd, function(msg) {
            location.href = "";
        });
    }
    function voltarParaProdutos() {
        location.href = "{{ path('_loja_index') }}";
    }
    function  finalizarPedido() {
        var frete = jQuery('input[name="opcaoFrete"]:checked').val();
        var cep = jQuery("#cep_frete").val();
        if (frete == undefined) {
            bootbox.alert("Você precisa selecionar o tipo de frete");
            return ;
        }
        bootbox.confirm("Tem certea de que deseja finalizar o pedido?", function(result) {
            if (result) {
                jQuery.get("{{ path("_loja_carrinho_finalizar") }}", {frete: frete, cep: cep}, function(data) {
                    if (data.user == 0) {
                        location.href = "{{ path('_login_cliente') }}";
                    } 
                    if (data.ok == 1) {
                        location.href = "{{ path('_loja_cliente_pedido_finalizado') }}";
                    }
                }, "json");
            }
        });
    }
    
    function moeda2float(moeda) {
        if (moeda=="") {
            return 0;
        }
        moeda = moeda.replace("R$ ","");
        moeda = moeda.replace(".","");
        moeda = moeda.replace(",",".");

        return parseFloat(moeda);
    }
    
    function float2moeda(num) {
        x = 0;
        if(num<0) {
           num = Math.abs(num);
           x = 1;
        }
        if(isNaN(num)) num = "0";
           cents = Math.floor((num*100+0.5)%100);
        num = Math.floor((num*100+0.5)/100).toString();

        if(cents < 10) cents = "0" + cents;
           for (var i = 0; i < Math.floor((num.length-(1+i))/3); i++)
              num = num.substring(0,num.length-(4*i+3))+'.'
                    +num.substring(num.length-(4*i+3));

        ret = num + ',' + cents;

        if (x == 1) {
            ret = ' - ' + ret;
        }
        return "R$ "+ret;
    }


    
    
</script>
{% endblock %}


{% block content %}
        <ul class="breadcrumbs">
            <div class="container">
                <li class="home">
                    <a href="{{ path('_loja_index') }}" title="Home"><img src="{{ asset('bundles/nutrividaloja/loja/images/home.png') }}" alt=""/></a>&nbsp;&nbsp;
                    <span>&gt;</span>&nbsp;
                </li>
                <li class="home">
                    Produtos&nbsp; 
                    <span>&gt;</span>
                </li>
                <li class="home">
                    <span class="red">&nbsp;Carrinho&nbsp;</span>
                </li>
            </div>
        </ul>
                    
<div class="cart">
    <div class="container">
        <div class="cart_top">
            <div class="col-md-12">
            	<div class="cart_grid cart_address">
                    <table class="table table-striped shopping-cart-table">
                        <tbody>
                            <tr>
                                <th class="hidden-xs"></th>
                                <th>Produto</th>
                                <th>Qntd</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                            {% set valor = 0 %}
                            {% for produto in produtos %}
                            {% set valor = valor+carrinho[produto.getId]*produto.getValor %}
                            <tr>
                                <td class="hidden-xs"><a href="" title=""><img src="{% path produto.getImagens.get(0).media, 'produto_banner' %}" alt="" title="" style="width:70px;height:70px;" /></a></td>
                                <td><a href=""{{ path('_loja_produto', {slugCategoria: produto.getCategoria.getSlug, slug: produto.getSlug}) }}" title="">{{ produto.getNome }}</a></td>
                                <td>
                                    <form class="form">
                                        <input onchange="alterarQuantidade({{ produto.getId }}, jQuery(this).val())" type="number" class="input-sm" style="width: 60px;" min="1" max="25" value="{{ carrinho[produto.getId] }}">
                                    </form>
                                </td>
                                <td>R$ {{ (produto.getValor*carrinho[produto.getId])|number_format(2, ',', '.') }}</td>
                                <td><a href="javascript:removerProduto({{ produto.getId }})"><i class="fa fa-trash"></i></a></td>
                            </tr>
                            {% else %}
                            <tr>
                                <td colspan="5"> Nenhum produto no carrinho</td>
                            </tr>
                            {% endfor %}
                            
                        </tbody>
                    </table>
                    {% if produtos|length > 0 %}
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td>
                                    Calcule o frete: 
                                </td>
                                <td>
                                    <form class="form">
                                        <input class="input-sm" id="cep_frete" />
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    {% endif %}
                    <table id="calculoFrete" class="table table-striped">
                        <tbody>
                        </tbody>
                    </table>
                    
                    <div class="row">
                        <div class="col-sm-7">
                            <h2 id="labelValorTotalPedido">Total: R$ {{ valor|number_format(2, ',', '.') }}</h2>
                            <input type="hidden" id="valorTotalPedido" value="{{ valor }}" />
                        </div>
                        <div class="col-sm-5 text-right">
                            <button onclick="finalizarPedido()" class="btn btn-theme-bg margin10">Finalizar Pedido</button>
                            <button onclick="voltarParaProdutos()" class="btn btn-theme-bg margin10">Voltar aos Produtos</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>

        
{% endblock %}