{% extends "NutrividaLojaBundle:Loja:layout.html.twig" %}
{% block title %}Nutrivida Tramandaí RS{% endblock %}
{% block head %}
<script src="{{ asset('bundles/nutrividaloja/admin/js/jquery.maskedinput.min.js') }}"></script>
<script>
    jQuery(document).ready(function(){
        jQuery("#cep_frete").mask(
            "99999-999",
            {completed:calculaFrete}
        ).bind({
                paste : function(){
                    setTimeout(calculaFrete, 500);
                }
        });
        if (jQuery("#cep_frete").val()!="") {
            calculaFrete()
        }
    });
    
    function calculaFrete() {
        var cep = jQuery("#cep_frete").val();
        var url = "{{ path("_loja_carrinho_calcula_frete") }}/"+cep;
        jQuery.post(url, {}, setFrete, "json")
    }
    

    function setFrete(result) {
        var html = "";
        var data;
        var frete;
        var table = jQuery("#calculoFrete tbody");
        for (var key in result) {
            data = result[key];
            frete = data.CalcPrecoPrazoResult.Servicos.cServico;
            if ( frete.Codigo == "{{ constant('Nutrivida\\LojaBundle\\Controller\\Loja\\CarrinhoController::sedex')  }}" ) {
                break;
            }
{#            if (frete.Erro != "0") {
                html += "<tr>";
                if ( frete.Codigo == "{{ constant('Nutrivida\\LojaBundle\\Controller\\Loja\\CarrinhoController::sedex')  }}" ) {
                    html += "<td>";
                    html += "Sedex";
                    html += "</td>";
                } else if (frete.Codigo == "{{ constant('Nutrivida\\LojaBundle\\Controller\\Loja\\CarrinhoController::pac')  }}" ) {
                    html += "<td>";
                    html += "PAC";
                    html += "</td>";
                }
                html += "<td>";
                html += frete.MsgErro;
                html += "</td>";
                html += "</tr>";
            } else {
                html += "<tr>";
                if ( frete.Codigo == "{{ constant('Nutrivida\\LojaBundle\\Controller\\Loja\\CarrinhoController::sedex')  }}" ) {
                    html += "<td><input value=\""+frete.Codigo+"|"+frete.Valor.toString()+"\" type=\"radio\" name=\"opcaoFrete\" id=\"opcao1\" /></td>";
                    html += "<td><label for=\"opcao1\">Sedex</label></td>";
                } else if (frete.Codigo == "{{ constant('Nutrivida\\LojaBundle\\Controller\\Loja\\CarrinhoController::pac')  }}" ) {
                    html += "<td><input value=\""+frete.Codigo+"|"+frete.Valor.toString()+"\" type=\"radio\" name=\"opcaoFrete\" id=\"opcao2\" /></td>";
                    html += "<td><label for=\"opcao2\">PAC</label></td>";
                }
                html += "<td>";
                html += "R$ "+frete.Valor.toString();
                html += "</td>";
                html += "</tr>";
            }            
#}        }
        //table.html(html);
        
        jQuery('#frete').text("R$ "+frete.Valor.toString());
        
        var total = parseFloat(jQuery('#totalProdutos').val()) + moeda2float(frete.Valor.toString());
        
        jQuery('#total-price').text(float2moeda(total));
        
{#        jQuery('input[name=opcaoFrete]').change(function() {
            var res = this.value.split("|");
            var valor = moeda2float(res[1]);
            valor = valor + parseFloat(jQuery("#valorTotalPedido").val());
            jQuery("#labelValorTotalPedido").text("Total: R$ "+float2moeda(valor));
        });
#}    }

    function alterarQuantidade(id, qtd) {
        jQuery.get("{{ path("_loja_carrinho_alterar_quantidade") }}/"+id+"/"+qtd, function(msg) {
            location.href = "";
        });
    }

    function  finalizarPedido() {
        var frete = {{ constant('Nutrivida\\LojaBundle\\Controller\\Loja\\CarrinhoController::sedex')  }};
        var cep     = jQuery("#cep_frete").val();
        var retirar = jQuery("#retirar").is(":checked");
        if (cep == "" && !retirar) {
            bootbox.alert("Calcule o frete para continuar");
            return ;
        }
        bootbox.confirm("Tem certea de que deseja finalizar o pedido?", function(result) {
            if (result) {
                jQuery.get("{{ path("_loja_carrinho_finalizar") }}", {frete: frete, cep: cep, retirar: retirar}, function(data) {
                    if (data.user == 0) {
                        location.href = "{{ path('_login_cliente') }}";
                    } 
                    if (data.ok == 1) {
                        location.href = "{{ path('_loja_cliente_pedido_finalizado') }}";
                    }
                }, "json");
            }
        });
    }
    
    function moeda2float(moeda) {
        if (moeda=="") {
            return 0;
        }
        moeda = moeda.replace("R$ ","");
        moeda = moeda.replace(".","");
        moeda = moeda.replace(",",".");

        return parseFloat(moeda);
    }
    
    function float2moeda(num) {
        x = 0;
        if(num<0) {
           num = Math.abs(num);
           x = 1;
        }
        if(isNaN(num)) num = "0";
           cents = Math.floor((num*100+0.5)%100);
        num = Math.floor((num*100+0.5)/100).toString();

        if(cents < 10) cents = "0" + cents;
           for (var i = 0; i < Math.floor((num.length-(1+i))/3); i++)
              num = num.substring(0,num.length-(4*i+3))+'.'
                    +num.substring(num.length-(4*i+3));

        ret = num + ',' + cents;

        if (x == 1) {
            ret = ' - ' + ret;
        }
        return "R$ "+ret;
    }
    
    function removerProduto(id) {
        bootbox.confirm("Tem certea de que deseja remover este produto?", function(result) {
            if (result) {
                jQuery.get("{{ path("_loja_carrinho_remover") }}/"+id, function() {
                    bootbox.alert('Produto removido com sucesso', function(){
                        location.href = '';
                    })
                });
            }
        });
    }
</script>
{% endblock %}


{% block content %}
    
    <div class="container main-container headerOffset">
        <div class="row">
            <div class="breadcrumbDiv col-lg-12">
                <ul class="breadcrumb">
                    <li> <a href="{{ path('_loja_index') }}">Home</a> </li>
                    <li class="active">Carrinho </li>
                </ul>
            </div>
        </div><!--/.row-->

        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-7">
                <h1 class="section-title-inner"><span><i class="glyphicon glyphicon-shopping-cart"></i> Carrinho </span></h1>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-5 rightSidebar">
                <h4 class="caps"><a href="{{ path('_loja_index') }}"><i class="fa fa-chevron-left"></i> Voltar a loja </a></h4>
            </div>
        </div><!--/.row-->

        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-7">
                <div class="row userInfo">
                    <div class="col-xs-12 col-sm-12">
                        <div class="cartContent w100">
                            <table class="cartTable table-responsive" style="width:100%">
                                <tbody>

                                    <tr class="CartProduct cartTableHeader">
                                        <td style="width:15%"> Produto </td>
                                        <td style="width:40%">Detalhe</td>
                                        <td style="width:10%" class="delete">&nbsp;</td>
                                        <td style="width:10%">QNT</td>
                                        <td style="width:15%">Total</td>
                                    </tr>
                                    
                                {% set valor = 0 %}
                                {% for produto in produtos %}
                                {% set valor = valor+carrinho[produto.getId]*produto.getValor %}
                                    <tr class="CartProduct">
                                        <td class="CartProductThumb">
                                            <div> 
                                                <a href="{{ path('_loja_produto', {slugCategoria: produto.getCategorias.get(0).getSlug, slug: produto.getSlug}) }}">
                                                    <img src="{% path produto.getImagens.get(0).media, 'produto_banner' %}" alt="img">
                                                </a> 
                                            </div>
                                        </td>
                                        <td>
                                            <div class="CartDescription">
                                                <h4> <a href="{{ path('_loja_produto', {slugCategoria: produto.getCategorias.get(0).getSlug, slug: produto.getSlug}) }}">{{ produto.nome }}</a> </h4>
                                                <div class="price"><span>R$ {{ produto.valor|number_format(2, ',', '.') }}</span></div>
                                            </div>
                                        </td>
                                        <td class="delete">
                                            <a href="javascript:removerProduto({{ produto.getId }})" title="Delete"> <i class="glyphicon glyphicon-trash fa-2x"></i></a>
                                        </td>
                                        <td>
                                            <input onchange="alterarQuantidade({{ produto.getId }}, jQuery(this).val())" class="quanitySniper" type="text" value="{{ carrinho[produto.getId] }}" name="quanitySniper">
                                        </td>
                                        <td class="price">R$ {{ (produto.valor*carrinho[produto.id])|number_format(2, ',', '.') }}</td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                        <!--cartContent-->

                        <div class="cartFooter w100">
                            <div class="box-footer">
                                <div class="pull-right">
                                    <button type="submit" onclick="location.href=''" class="btn btn-default"> <i class="fa fa-undo"></i> &nbsp; Atualizar </button>
                                </div>
                            </div>
                        </div> <!--/ cartFooter --> 

                    </div>
                </div>
                <!--/row end--> 

            </div>
            <div class="col-lg-3 col-md-3 col-sm-5 rightSidebar">
                <div class="contentBox" >
                    <div class="w100 costDetails">
                        <div class="table-block" id="order-detail-content"> <a class="btn btn-primary btn-lg btn-block " title="checkout" href="javascript:finalizarPedido()" style="margin-bottom:20px"> Finalizar Pedido &nbsp; <i class="fa fa-arrow-right"></i> </a>
                            <div class="w100 cartMiniTable">
                                <table id="cart-summary" class="std table">
                                    <tbody>
                                        <tr >
                                            <td>Total dos produtos</td>
                                            <td class="price" >R$ {{ valor|number_format(2, ',', '.') }}</td>
                                            <input type="hidden" id="totalProdutos" value="{{ valor }}" />
                                        </tr>
                                        <tr >
                                            <td>Frete</td>
                                            <td class="price" id="frete">R$ 0,00</td>
                                        </tr>
                                        <tr >
                                            <td > Total </td>
                                            <td class=" site-color" id="total-price">R$ {{ valor|number_format(2, ',', '.') }}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" >
                                                <div class="input-append couponForm">
                                                    <input class="col-lg-12" id="cep_frete" type="text" value="{{ cep }}" placeholder="Calcular Frete" >
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" >
                                                <div class="input-append couponForm">
                                                    <input id="retirar" name="retirar" type="checkbox"> Retirar Na loja
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End popular --> 
            </div>
            <!--/rightSidebar--> 

        </div><!--/row-->

        <div style="clear:both"></div>
    </div><!-- /.main-container -->

    <div class="gap"> </div>

                    
{#<div class="cart">
    <div class="container">
        <div class="cart_top">
            <div class="col-md-12">
            	<div class="cart_grid cart_address">
                    <table class="table table-striped shopping-cart-table">
                        <tbody>
                            <tr>
                                <th class="hidden-xs"></th>
                                <th>Produto</th>
                                <th>Qntd</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                            {% set valor = 0 %}
                            {% for produto in produtos %}
                            {% set valor = valor+carrinho[produto.getId]*produto.getValor %}
                            <tr>
                                <td class="hidden-xs"><a href="" title=""><img src="{% path produto.getImagens.get(0).media, 'produto_banner' %}" alt="" title="" style="width:70px;height:70px;" /></a></td>
                                <td><a href=""{{ path('_loja_produto', {slugCategoria: produto.getCategoria.getSlug, slug: produto.getSlug}) }}" title="">{{ produto.getNome }}</a></td>
                                <td>
                                    <form class="form">
                                        <input onchange="alterarQuantidade({{ produto.getId }}, jQuery(this).val())" type="number" class="input-sm" style="width: 60px;" min="1" max="25" value="{{ carrinho[produto.getId] }}">
                                    </form>
                                </td>
                                <td>R$ {{ (produto.getValor*carrinho[produto.getId])|number_format(2, ',', '.') }}</td>
                                <td><a href="javascript:removerProduto({{ produto.getId }})"><i class="fa fa-trash"></i></a></td>
                            </tr>
                            {% else %}
                            <tr>
                                <td colspan="5"> Nenhum produto no carrinho</td>
                            </tr>
                            {% endfor %}
                            
                        </tbody>
                    </table>
                    {% if produtos|length > 0 %}
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td>
                                    Calcule o frete: 
                                </td>
                                <td>
                                    <form class="form">
                                        <input class="input-sm" id="cep_frete" />
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    {% endif %}
                    <table id="calculoFrete" class="table table-striped">
                        <tbody>
                        </tbody>
                    </table>
                    
                    <div class="row">
                        <div class="col-sm-7">
                            <h2 id="labelValorTotalPedido">Total: R$ {{ valor|number_format(2, ',', '.') }}</h2>
                            <input type="hidden" id="valorTotalPedido" value="{{ valor }}" />
                        </div>
                        <div class="col-sm-5 text-right">
                            <button onclick="finalizarPedido()" class="btn btn-theme-bg margin10">Finalizar Pedido</button>
                            <button onclick="voltarParaProdutos()" class="btn btn-theme-bg margin10">Voltar aos Produtos</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>
#}
        
{% endblock %}