{% extends "NutrividaLojaBundle:Loja:layout.html.twig" %}
{% block title %}Nutrivida Tramandaí RS{% endblock %}
{% block head %}
{% endblock %}


{% block content %}
    
            <div class="container main-container headerOffset">
            <div class="row">
                <div class="breadcrumbDiv col-lg-12">
                    <ul class="breadcrumb">
                        <li> <a href="{{ path('_loja_index') }}">Home</a> </li>
                        <li> <a href="{{ path('_loja_categoria', {slug: categoria.getSlug}) }}">{{ categoria.nome }}</a> </li>
                        <li>{{ produto.nome }} </li>
                    </ul>
                </div>
            </div>
            <div class="row transitionfx">

                <!-- left column -->
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <!-- product Image and Zoom -->
                    <div class="main-image sp-wrap col-lg-12 no-padding style2 style2look2"> 
                        {% for imagem in produto.getImagens %}
                            <a href="{% path imagem.media, 'big' %}"><img src="{% path imagem.media, 'produto' %}" class="img-responsive" alt="img"></a> 
                        {% endfor %}
                    </div>
                </div><!--/ left column end -->
                <!-- right column -->
                <div class="col-lg-6 col-md-6 col-sm-5">

                    <h1 class="product-title"> {{ produto.nome }}</h1>
                    <div class="product-price"> 
                        <span class="price-sales"> R${{ produto.valor|number_format(2, ',', '.') }}</span> 
                        <span class="price-standard">R${{ (produto.valor*1.1)|number_format(2, ',', '.') }}</span> 
                    </div>

                    <div class="details-description">
                        <p>100% natural!</p>
                    </div>

                    <div class="productFilter productFilterLook2">
                        <div class="filterBox">
                            <select>
                                <option value="strawberries" selected>Quantidade</option>
                                <option value="mango">1</option>
                                <option value="bananas">2</option>
                                <option value="watermelon">3</option>
                                <option value="grapes">4</option>
                                <option value="oranges">5</option>
                                <option value="pineapple">6</option>
                                <option value="peaches">7</option>
                                <option value="cherries">8</option>
                            </select>
                        </div>
                    </div>

                    <div class="cart-actions">
                        <div class="addto">
                            <button onclick="productAddToCartForm.submit(this);" class="button btn-cart cart first" title="Adicionar ao Carrinho" type="button">adicionar carrinho</button>
                            <button onclick="productAddToCartForm.submit(this);" class="button btn-cart cart first" title="Finalizar Pedido" type="button">finalizar pedido</button>
                        </div>

                        <div style="clear:both"></div>
                    </div>

                    <div class="clear"></div>

                    <div class="product-tab w100 clearfix">

                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#details" data-toggle="tab">Detalhe</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="details">
                                <p>A bebida de castanhas a Tal da Castanha é fonte de proteínas vegetais de alta qualidade, rica em vitaminas e minerais. Por ser zero lactose, glúten e soja, é uma excelente alternativa para intolerantes e também para veganos, vegetarianos, pessoas que procuram diminuir o consumo de produtos de origem animal ou simplesmente para quem ama castanhas.
                                Sem adição de açúcares, conservadores, corantes ou aromatizantes.</p>
                                <P>Ingredientes: Água e castanhas de caju.</p>
                            </div>
                        </div> <!-- /.tab content -->

                    </div><!--/.product-tab-->

                    <div style="clear:both"></div>

                </div><!--/ right column end -->

            </div>
            <!--/.row-->

            <div class="row recommended">

                <h1> PRODUTOS RECOMENDADOS </h1>

                <div id="SimilarProductSlider">
                    <div class="item">
                        <div class="product"> <a class="product-image" > <img src="images/product/3.jpg"  alt="img"> </a>
                            <div class="description">
                                <h4><a href="san-remo-spaghetti">Snack Tee</a></h4>
                                <div class="price"> <span>R$8,90</span> </div>
                            </div>
                        </div>
                    </div><!--/.item-->

                    <div class="item">
                        <div class="product"> <a class="product-image" > <img src="images/product/3.jpg"  alt="img"> </a>
                            <div class="description">
                                <h4><a href="san-remo-spaghetti">Snack Tee</a></h4>
                                <div class="price"> <span>R$8,90</span> </div>
                            </div>
                        </div>
                    </div><!--/.item-->

                    <div class="item">
                        <div class="product"> <a class="product-image" > <img src="images/product/3.jpg" alt="img"> </a>
                            <div class="description">
                                <h4><a href="san-remo-spaghetti">Snack Tee</a></h4>
                                <div class="price"> <span>R$8,90</span></div>
                            </div>
                        </div>
                    </div><!--/.item-->

                    <div class="item">
                        <div class="product"> <a class="product-image" > <img src="images/product/3.jpg"  alt="img"> </a>
                            <div class="description">
                                <h4><a href="san-remo-spaghetti">Snack Tee</a></h4>
                                <div class="price"> <span>R$8,90</span></div>
                            </div>
                        </div>
                    </div><!--/.item-->

                    <div class="item">
                        <div class="product"> <a class="product-image" > <img src="images/product/3.jpg"  alt="img"> </a>
                            <div class="description">
                                <h4><a href="san-remo-spaghetti">Snack Tee</a></h4>
                                <div class="price"> <span>R$8,90</span> </div>
                            </div>
                        </div>
                    </div><!--/.item-->

                    <div class="item">
                        <div class="product"> <a class="product-image" > <img src="images/product/3.jpg"  alt="img"> </a>
                            <div class="description">
                                <h4><a href="san-remo-spaghetti">Snack Tee</a></h4>
                                <div class="price"> <span>R$8,90 </span> </div>
                            </div>
                        </div>
                    </div><!--/.item-->

                    <div class="item">
                        <div class="product"> <a class="product-image" > <img src="images/product/3.jpg"  alt="img"> </a>
                            <div class="description">
                                <h4><a href="san-remo-spaghetti">Snack Tee </a></h4>
                                <div class="price"> <span>R$8,90</span> </div>
                            </div>
                        </div>
                    </div><!--/.item-->

                    <div class="item">
                        <div class="product"> <a class="product-image" > <img src="images/product/3.jpg"  alt="img"> </a>
                            <div class="description">
                                <h4><a href="san-remo-spaghetti">Snack Tee </a></h4>
                                <div class="price"> <span>R$8,90</span> </div>
                            </div>
                        </div>
                    </div><!--/.item-->
                </div><!--/.SimilarProductSlider-->
            </div>  <!--/.recommended--> 


            <div style="clear:both"></div>


        </div> <!-- /main-container -->

        <div class="gap"></div>

    
    
{#        <ul class="breadcrumbs">
            <div class="container">
                <li class="home">
                    <a href="{{ path('_loja_index') }}" title="Home"><img src="{{ asset('bundles/nutrividaloja/loja/images/home.png') }}" alt=""/></a>&nbsp;&nbsp;
                    <span>&gt;</span>&nbsp;
                </li>
                <li class="home">
                    Produtos&nbsp; 
                    <span>&gt;</span>
                </li>
                <li class="home">
                    {{ produto.categoria.nome }}&nbsp; 
                    <span>&gt;</span>
                </li>
                <li class="home">
                    <span class="red">&nbsp;{{ produto.nome }}&nbsp;</span>
                </li>
            </div>
        </ul>
        <div class="single_top">
            <div class="container"> 
                <div class="single_grid">
                    <div class="grid images_3_of_2">
                        <ul id="etalage">
                            {% for imagem in produto.getImagens %}
                            <li>
                                <img class="etalage_thumb_image" src="{% path imagem.media, 'produto' %}" class="img-responsive" />
                                <img class="etalage_source_image" src="{% path imagem.media, 'produto' %}" class="img-responsive" title="" />
                            </li>
                            {% endfor %}
                        </ul>
                        <div class="clearfix"></div>		
                    </div> 
                    <div class="desc1 span_3_of_2">
                        <ul class="back">
                            <li><i class="back_arrow"> </i><a href="javascript:history.back()">VOLTAR</a></li>
                        </ul>
                        <h1>{{ produto.nome }}</h1>
                        <ul class="price_single">
                            <li class="head"><h2>R$ {{ produto.valor|number_format(2, ',', '.') }}</h2></li>
                            <div class="clearfix"></div>
                        </ul>
                        <p>{{ produto.descricao|nl2br }}</p>
                        <br/><br/>
                        <a href="javascript:adicionarCarrinho({{ produto.getId }})" class="btn1 btn2 btn-primary1"><span>adicionar</span><img src="{{ asset('bundles/nutrividaloja/loja/images/plus.png') }}" alt=""></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="m_4"><span class="left_line2"> </span><p>produtos relacionados</p><span class="right_line2"> </span></div>
            <div class="content_bottom">
                <div class="container">
                    <ul class="grid1">
                        {% for prod in produto.getCategoria.getProdutos if prod != produto and prod.ativo %}
                        <li class="grid1_last">
                            <div class="view view-first">
                                <a href="{{ path('_loja_produto', {slugCategoria: prod.getCategoria.getSlug, slug: prod.getSlug}) }}">
                                    <img style="width: 260x; height: 330px;" src="{% path prod.getImagens.get(0).media, 'produto' %}" class="img-responsive" alt="">
                                </a>
                                <div class="tab_desc">
                                    <h3><a href="{{ path('_loja_produto', {slugCategoria: prod.getCategoria.getSlug, slug: prod.getSlug}) }}">{{ prod.nome }}</a></h3>
                                    <p>R$ {{ prod.valor|number_format(2, ',', '.') }}</p>
                                    <a href="javascript:adicionarCarrinho({{ prod.getId }})" class="btn1 btn-primary1"><span>adicionar</span><img src="{{ asset('bundles/nutrividaloja/loja/images/plus.png') }}" alt=""></a>
                                </div>
                            </div>
                                {% if prod.desconto %}
                                    <div class="sale-box1"> </div>
                                {% endif %}
                        </li>
                        {% endfor %}
                        <div class="clearfix"> </div>
                    </ul>
                </div>
            </div>
        </div>#}

            <script src="{{ asset('bundles/nutrividaloja/loja/assets/js/smoothproducts.min.js') }}"></script>
        <script src="{{ asset('bundles/nutrividaloja/loja/assets/js/smoothproducts-thumb.min.js') }}"></script>


{% endblock %}

